div #calculadora {
    text-align: right;
    width: 100%;
    margin-right: 10px;
    font-size: 2vw!important;
}

button.btncal {
    font-size: 2vw!important;
    width: 4vw;
    height: 4vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    padding: unset!important;
}

button.especials {
    width: 8vw!important;
}

label {
    font-size: 2vw!important;
    color: white;
}

input {
    font-size: 2vw!important;
}

h4 {
    font-size: 3vw!important;
    color: white;
}

p {
    font-size: 1.5vw!important;
    color: white;
}

h1 {
    font-size: 5vw!important;
    color: white;
}

body {
    min-width: 576px;
}

.row-esp
{
    margin-left: 10px!important;
}

.calcpos {
    position: absolute; 
    top: 290px; 
    left: 50px;
}